@model List<BookShared.Models.Book>

@{
    ViewBag.Title = "BOOKS";
}

<br>
<br>

@*<div class="pull-right">
    <a href="@Url.Action("Add")" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-plus"></span> Add Book
    </a>
</div>*@

@*<div class="container">*@
    <div class="row">
        <div class="col-md-6">
            <p>This table shows the "Book" records in the database and allows you to perform CRUD.</p>
        </div>

        <div class="col-md-6">
            <div class="pull-right">
                <a href="@Url.Action("Add")" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-plus"></span> Add Book
                </a>
            </div>
        </div>
    </div>
@*</div>*@



@* <table class="table table-striped"> *@
<table class="table">
    <thead>
        <tr>
            <th>Book Title</th>
            <th>Author</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author.Name</td>
                <td>
                    <div class="pull-right">
                        @*<a href="@Url.Action("Detail", new { id = book.Id })" class="btn btn-primary btn-xs margin-right">
                            <span class="glyphicon glyphicon-info-sign"></span><span class="hidden-xs"> Detail</span>
                        </a>*@
                        <a href="@Url.Action("Edit", new { id = book.Id })" class="btn btn-primary btn-xs margin-right">
                            <span class="hidden-xs"> EDIT</span>
                        </a>
                        <a href="@Url.Action("Delete", new { id = book.Id })" class="btn btn-primary btn-xs margin-right">
                            <span class="hidden-xs"> DELETE</span>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>