@model BookWebApp.ViewModels.ProductsTestViewModel

@{
    ViewBag.Title = "_ProductsTestBooks";
}

@*<h2>Products</h2>*@

<br><br>

@if (@Model.IsGenre == false)
{
    foreach (var book in Model.BookList)
    {
        <div class="container" id="productRecord">
            @*<br><br>*@<br>
            <div class="row">
                <div class="col-md-2">
                    <img src="@book.Img" width="100" height="160">
                </div>
                <div class="col-md-2">
                    <p>ADD TO CART</p>
                    <p>Author</p>
                    <p>Title</p>
                    <p>Genre</p>
                    <p>Price</p>
                    <p>Description</p>
                </div>
                <div class="col-md-2">
                    @*<p>@Html.ActionLink("ADD", "Add", "Cart", new { id = book.Id }, new { @style = "color:blue;" })</p>*@
                    <p><button type="button" id="@book.Id" class="btnAdd">Click</button></p>
                    <p>@book.Author.Name</p>
                    <p>@book.Title</p>

                    <p>
                        @foreach (var genre in book.Genres)
                        {
                            @genre.Genre.GenreOfBook
                            <text> </text>
                        }
                    </p>

                    <p>@book.Price</p>
                    <p>@book.Description</p>
                </div>
            </div>
        </div>
    }

}
else
{
    foreach (var book in Model.BookGenreList)
    {
        <div class="container" id="productRecord">
            @*<br>*@<br>
            <div class="row">
                <div class="col-md-2">
                    <img src="@book.Book.Img" width="100" height="160">
                </div>
                <div class="col-md-2">
                    <p>ADD TO CART</p>
                    <p>Author</p>
                    <p>Title</p>
                    <p>Genre</p>
                    <p>Price</p>
                    <p>Description</p>
                </div>
                <div class="col-md-2">
                    @*<p>@Html.ActionLink("ADD", "Add", "Cart", new { id = book.Id }, new { @style = "color:blue;" })</p>*@
                    <p><button type="button" id="@book.Book.Id" class="btnAdd">Click</button></p>
                    <p>@book.Book.Author.Name</p>
                    <p>@book.Book.Title</p>
                    <p>@book.Genre.GenreOfBook</p>
                    <p>@book.Book.Price</p>
                    <p>@book.Book.Description</p>
                </div>
            </div>
        </div>
    }

}


<script>
    $(".btnAdd").on("click", function () {

        $('#totalCost').hide();
        console.log("Add button clicked, ID is " + this.id);

        $.ajax({
            url: "/Cart/AddToCart/" + this.id,
            type: "GET"
        }).done(function () {

            $.ajax({
                url: "/Cart/_Cart",
                type: "GET"
            }).done(function (partialViewResult) {
                $("#refTable").html(partialViewResult);

                $.ajax({
                    url: "/Cart/_TotalCost",
                    type: "GET"
                }).done(function (partialViewResult) {
                    $("#totalCost").html(partialViewResult);
                    $('#totalCost').show();
                });

            });
        });
    });
</script>


